.divAudioPlayer {

	height: 300px;
	background-color: gray; 
	
}

.categoryTile{
	height: 300px;
	
}

.categoryTitle{
	padding: 5px;
	
}

.categoryTile img{
	height: 100%;
	width: 100%;
}

.navbar-bg{
	background-image: url(./img/header-bg-1.png);
	background-size: cover;
	background-repeat: no-repeat;
	
}
.navbar{
	color:white !important; 
}
.body-content{
	padding-bottom: 150px;
}

.navbar a{
	color: white !important;
}
